body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header,
.content1,
.content2,
.content3,
.content4,
.footer{
    display: flex;
}

.header,
.footer {
    background: #1f2937;
    height: 72px;
    padding: 0px 96px;
    flex-direction: row;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    gap: 12px;
    margin: 0px;
    padding: 0px;

}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}
button {
    height: 35px;
    width: 100px;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
}
.content1 {
    background: #1f2937;
    align-items: center;
    justify-content: space-around;
    padding: 50px 150px;
    gap: 50px;
}

.content2 {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 125px;
    gap: 25px;
}

.content2-slideshow {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    gap: 5px;
}

.slideshow-img {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 20px;

}

.content3 {
    padding: 125px 180px;
    background-color: #E5E7EB;
    flex-direction: column;
}

.content4 {
    justify-content: center;
    align-items: center;
    padding: 100px 75px;

}

.call-to-action-container {
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
}
.call-to-action {
    display: flex;
    flex-direction: column;
}
.call-to-action-head {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-size: 24px;
    align-self: flex-end;
    font-weight: bold;
}
p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder
}

.left-content1 {
    gap: 4px;
    padding: 50px, 100px;
    display: flex;
    flex-direction: column;
}

.img1 {
    background-color: #8f8f8f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 450px;
    flex-shrink: 0;
}
